<div class="main-content" class="main-content margin-wizard-content">
    <div class="row">
        <div class="col-md-12">
            <!-- <div class="card "> -->
            <div class="card-body ">
                <!--#region form-->
                <form #AssetOtherForm="ngForm" (ngSubmit)="onFormSubmit(AssetOtherForm.value, AssetOtherForm.valid)">
                    <!--#region button submit-->
                    <button [hidden]="isReadOnly" type="submit" class="btn btn-info btn-round">Save</button>
                    <!--#endregion button submit-->

                    <!--#region class="row"-->
                    <div class="row">
                        <input type="text" [ngModel]="model.status" name="p_status" hidden>

                        <!--#region asset_code-->
                        <input type="text" class="form-control" [ngModel]="this.param" maxlength="50"
                            name="p_asset_code" hidden>
                        <!--#endregion asset_code-->

                        <!--#region remark-->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="remark" class="control-label">Remark</label>
                                <textarea [readonly]="isReadOnly" type="text" class="form-control" [ngModel]="model.remark" name="p_remark"
                                    #remark="ngModel" maxlength="4000"></textarea>
                            </div>
                        </div>
                        <!--#endregion remark-->
                    </div>
                    <!--#endregion class="row"-->
                </form>
                <!--#endregion form-->
            </div>
            <!-- </div> -->
        </div>
    </div>
</div>