<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card ">
                <!--#region watermark-->
                <div class="watermark" [hidden]="this.isWatermark === '0'">
                    <h6>{{this.companyName}}</h6>
                    <h6>{{this.userName}}</h6>
                    <h6>{{this.sysDate | date}} {{this.currentTime}}</h6>
                </div>
                <!--#endregion watermark-->
                <div class="card-header ">
                    <h5 class="card-title">Realization Info</h5>
                </div>
                <div class="card-body ">
                    <!--#region form-->
                    <form #realizationForm="ngForm"
                        (ngSubmit)="onFormSubmit(realizationForm.value, realizationForm.valid)">

                        <!--#region button submit back-->
                        <button type="submit" [hidden]="model.register_status !== 'REALIZATION'"
                            class="btn btn-info btn-round" data-role="R00021950002196C">Save</button>
                        <button type="button" [hidden]="model.register_status !== 'REALIZATION'"
                            class="btn btn-success btn-round" (click)="btnProceed()"
                            data-role="R00021950002196O">Proceed</button>
                        <button type="button" [hidden]="isCancle" class="btn btn-warning btn-round"
                            data-role="R00021950002196R" (click)="btnCancel()">Cancel</button>
                        <button type="button" class="btn btn-danger btn-round" (click)="btnBack()">Back</button>
                        <!--#endregion button submit back-->

                        <!--#region inquiry status detail row-->
                        <div class="row">
                            <!--#region code-->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Register No</label>
                                    <input type="text" class="form-control" [ngModel]="model.register_no" maxlength="50"
                                        name="p_register_no" readonly>
                                    <input type="hidden" class="form-control" [ngModel]="model.code" name="p_code"
                                        readonly>
                                </div>
                            </div>
                            <!--#endregion code-->

                            <!--#region branch name-->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Branch</label>
                                    <input type="text" class="form-control" [ngModel]="model.branch_name"
                                        maxlength="250" name="p_branch_name" readonly>
                                </div>
                            </div>
                            <!--#endregion branch name-->

                            <!--#region Register Status -->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Status</label>
                                    <input type="text" class="form-control" readonly maxlength="20"
                                        [ngModel]="model.register_status" name="p_register_status">
                                </div>
                            </div>
                            <!--#endregion  Register Status-->

                            <!--#region Register date-->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Register Date </label>
                                    <input class="form-control col-md-6" placeholder="dd/mm/yyyy" angular-mydatepicker
                                        [ngModel]="model.realization_date" name="p_realization_date"
                                        [options]="myDatePickerOptions" #p_realization_date="ngModel"
                                        #realization_date="angular-mydatepicker" autocomplete="off" readonly>
                                </div>
                            </div>
                            <!--#endregion Register date-->

                            <!--#region fa_code -->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>FA Code</label>
                                    <input type="text" class="form-control" [ngModel]="model.fa_code" name="p_fa_code"
                                        readonly>
                                </div>
                            </div>
                            <!--#endregion Agrement-->

                            <!--#region item_name-->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Item Name</label>
                                    <input type="text" class="form-control" [ngModel]="model.item_name"
                                        name="p_item_name" readonly>
                                </div>
                            </div>
                            <!--#endregion item_name-->

                            <!--#region Register Procces By-->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Processed By </label>
                                    <input type="text" class="form-control" maxlength="50"
                                        [ngModel]="model.register_process_by" name="p_register_process_by" readonly>
                                </div>
                            </div>
                            <!--#endregion  Register Procces By-->

                            <!--#region Register Remarks-->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Remark </label>
                                    <textarea type="text" class="form-control" [ngModel]="model.register_remarks"
                                        maxlength="4000" name="p_register_remarks" readonly></textarea>
                                </div>
                            </div>
                            <!--#endregion  Register Remarks-->


                        </div>
                        <!--#endregion inquiry status detail row-->

                        <!--#region inquiry status detail row-->
                        <div class="row">
                            <!--#region DP Date-->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="dp_to_public_service_date" class="control-label">DP Date *</label>
                                    <div>
                                        <input [ngStyle]="getStyles(isReadOnly)" class="form-control col-md-6"
                                            placeholder="dd/mm/yyyy" angular-mydatepicker
                                            [ngModel]="model.dp_to_public_service_date"
                                            name="p_dp_to_public_service_date" [options]="myDatePickerOptions" required
                                            #p_dp_to_public_service_date="ngModel" [readonly]="isReadOnly"
                                            #dp_to_public_service_date="angular-mydatepicker" autocomplete="off"
                                            (click)="dp_to_public_service_date.toggleCalendar()" />
                                        <small
                                            *ngIf="(p_dp_to_public_service_date.errors?.required && p_dp_to_public_service_date.touched) || (p_dp_to_public_service_date.errors?.required && realizationForm.submitted)"
                                            class="text-danger">
                                            DP Date is required
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <!--#endregion DP Date-->

                            <!--#region DP Amount-->
                            <div class="col-md-4">
                                <div class="form-group"
                                    [class.has-error]="dp_to_public_service_amount.invalid && dp_to_public_service_amount.touched">
                                    <label for="dp_to_public_service_amount" class="control-label">DP Amount
                                        *</label>
                                    <input type="text" class="form-control text-right col-md-6"
                                        [ngModel]="model.dp_to_public_service_amount | number : '1.2-2'"
                                        name="p_dp_to_public_service_amount" required
                                        #dp_to_public_service_amount="ngModel" maxlength="24"
                                        amount="dp_to_public_service_amount" [readonly]="isReadOnly">
                                    <small
                                        *ngIf="(dp_to_public_service_amount.errors?.required && dp_to_public_service_amount.touched) || (dp_to_public_service_amount.errors?.required && realizationForm.submitted)"
                                        class="text-danger">
                                        DP Amount is required
                                    </small>
                                </div>
                            </div>
                            <!--#endregion DP Amount-->

                            <!--#region Voucher -->
                            <div class="col-md-4">
                                <div class="form-group"
                                    [class.has-error]="dp_to_public_service_voucher.invalid && dp_to_public_service_voucher.touched">
                                    <label for="dp_to_public_service_voucher" class="control-label">Voucher
                                    </label>
                                    <input type="text" class="form-control" maxlength="50"
                                        [ngModel]="model.dp_to_public_service_voucher"
                                        name="p_dp_to_public_service_voucher" #dp_to_public_service_voucher="ngModel"
                                        [readonly]="isReadOnly">

                                </div>
                            </div>
                            <!--#endregion Voucher  -->
                        </div>
                        <!--#endregion inquiry status detail row-->

                        <!--#region inquiry status detail row-->
                        <div class="row">

                            <!--#region Realization Date-->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="realization_date" class="control-label">Realization Date *</label>
                                    <div>
                                        <input [ngStyle]="getStyles(isReadOnly)" class="form-control col-md-6"
                                            placeholder="dd/mm/yyyy" angular-mydatepicker
                                            [ngModel]="model.realization_date" name="p_realization_date"
                                            [options]="myDatePickerOptions" required #p_realization_date="ngModel"
                                            [readonly]="isReadOnly" #realization_date="angular-mydatepicker"
                                            autocomplete="off" (click)="realization_date.toggleCalendar()" />
                                        <small
                                            *ngIf="(p_realization_date.errors?.required && p_realization_date.touched) || (p_realization_date.errors?.required && realizationForm.submitted)"
                                            class="text-danger">
                                            Realization Date is required
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <!--#endregion Realization Date-->

                            <!--#region Realization Invoice no  -->
                            <div class="col-md-4">
                                <div class="form-group"
                                    [class.has-error]="realization_invoice_no.invalid && realization_invoice_no.touched">
                                    <label for="realization_invoice_no" class="control-label">Realization Invoice No
                                        *</label>
                                    <input type="text" class="form-control" maxlength="50"
                                        [ngModel]="model.realization_invoice_no" name="p_realization_invoice_no"
                                        required #realization_invoice_no="ngModel" [readonly]="isReadOnly">
                                    <small
                                        *ngIf="(realization_invoice_no.errors?.required && realization_invoice_no.touched) || (realization_invoice_no.errors?.required && realizationForm.submitted)"
                                        class="text-danger">
                                        Realization Invoice No is required
                                    </small>
                                </div>
                            </div>
                            <!--#endregion Realization Invoice no  -->
                            <!--#region realization_actual_fee -->
                            <div class="col-md-4">
                                <div class="form-group"
                                    [class.has-error]="realization_actual_fee.invalid && realization_actual_fee.touched">
                                    <label for="realization_actual_fee" class="control-label">Realization Actual Fee
                                        *</label>
                                    <input type="text" class="form-control text-right col-md-6"
                                        [ngModel]="model.realization_actual_fee | number : '1.2-2'"
                                        name="p_realization_actual_fee" required #realization_actual_fee="ngModel"
                                        maxlength="24" amount="realization_actual_fee" [readonly]="isReadOnly">
                                    <small
                                        *ngIf="(realization_actual_fee.errors?.required && realization_actual_fee.touched) || (realization_actual_fee.errors?.required && realizationForm.submitted)"
                                        class="text-danger">
                                        Realization Actual Fee is required
                                    </small>
                                </div>
                            </div>
                            <!--#endregion realization_actual_fee -->

                            <!--#region realization_service_fee -->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="realization_service_fee" class="control-label">Realization Service Fee
                                        *</label>
                                    <input type="text" class="form-control text-right col-md-6"
                                        [ngModel]="model.realization_service_fee | number : '1.2-2'"
                                        name="p_realization_service_fee" required #realization_service_fee="ngModel"
                                        maxlength="24" amount="realization_service_fee" [readonly]="isReadOnly">
                                    <small
                                        *ngIf="(realization_service_fee.errors?.required && realization_service_fee.touched) || (realization_service_fee.errors?.required && realizationForm.submitted)"
                                        class="text-danger">
                                        Realization Service Fee is required
                                    </small>
                                </div>
                            </div>
                            <!--#endregion realization_service_fee -->

                            <!--#region realization_internal_income -->
                            <div class="col-md-4">
                                <div class="form-group"
                                    [class.has-error]="realization_internal_income.invalid && realization_internal_income.touched">
                                    <label for="realization_internal_income" class="control-label">Realization Internal
                                        Income *</label>
                                    <input type="text" class="form-control text-right col-md-6"
                                        [ngModel]="model.realization_internal_income | number : '1.2-2'"
                                        name="p_realization_internal_income" required
                                        #realization_internal_income="ngModel" maxlength="24"
                                        amount="realization_internal_income" [readonly]="isReadOnly">
                                    <small
                                        *ngIf="(realization_internal_income.errors?.required && realization_internal_income.touched) || (realization_internal_income.errors?.required && realizationForm.submitted)"
                                        class="text-danger">
                                        Realization Internal Income is required
                                    </small>
                                </div>
                            </div>
                            <!--#endregion realization_internal_income -->

                            <!--#region Customer Settlement Amount-->
                            <!-- <div class="col-md-4">
                                <div class="form-group">
                                    <label for="customer_settlement_amount" class="control-label">Settlement Client
                                        Amount </label>
                                    <input type="text" class="form-control col-md-6" style="text-align: right;"
                                        [ngModel]="model.customer_settlement_amount | number : '1.2-2'"
                                        name="p_customer_settlement_amount" readonly>
                                </div>
                            </div> -->
                            <!--#endregion Customer Settlement Amount-->

                            <!--#region Public Service Settlement Amount-->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="public_service_settlement_amount " class="control-label">Settlement
                                        Public Service Amount
                                    </label>
                                    <input type="text" class="form-control col-md-6" style="text-align: right;"
                                        [ngModel]="model.public_service_settlement_amount | number : '1.2-2'"
                                        name="p_public_service_settlement_amount" readonly>
                                </div>
                            </div>
                            <!--#endregion Public Service Settlement Amount-->
                        </div>
                        <!--#endregion inquiry status detail row-->
                    </form>
                    <!--#endregion form-->
                </div>
            </div>
        </div>
    </div>
</div>