<div class="main-content" style="overflow-y:scroll; overflow-x:hidden; height:100%;">
    <!-- spinner region -->
    <div class="panel-container-spinner" *ngIf="showSpinner">
        <app-spinner class="spinner-container"></app-spinner>
    </div>
    <!-- end spinner region -->
    <div class="row">
        <div class="col-md-12">
            <!--#region watermark-->
            <div class="watermark" [hidden]="this.isWatermark === '0'">
                <h6>{{this.companyName}}</h6>
                <h6>{{this.userName}}</h6>
                <h6>{{this.sysDate | date}} {{this.currentTime}}</h6>
            </div>
            <!--#endregion watermark-->
            <div class="card-header">
                <h5>Policy Info</h5>
            </div>
            <div class="card-body">
                <div name="header" id="headerId">
                    <!--#region form-->
                    <!-- <form #policyForm="ngForm" (ngSubmit)=""> -->

                    <!--#region row-->
                    <div class="row" hidden>
                        <!--#region code-->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="code" class="control-label">Police Code </label>
                                <input type="text" class="form-control" [ngModel]="model.code" maxlength="50"
                                    name="p_code" #code="ngModel">
                            </div>
                        </div>
                        <!--#endregion code-->
                    </div>
                    <!--#endregion row-->

                    <!--#region row-->
                    <div class="row">
                        <!--#region policy_no-->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="policy_no" class="control-label">Policy No </label>
                                <input class="form-control" [ngModel]="model.policy_no" name="p_policy_no"
                                    #policy_no="ngModel" readonly>
                            </div>
                        </div>
                        <!--#endregion policy_no-->

                        <!--#region policy_status-->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Status</label>
                                <input type="text" class="form-control" [ngModel]="model.policy_status" maxlength="10"
                                    name="p_policy_status" readonly>
                            </div>
                        </div>
                        <!--#endregion policy_status-->

                        <!--#region policy_payment_status-->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Payment Status</label>
                                <input type="text" class="form-control" maxlength="10"
                                    [ngModel]="model.policy_payment_status" name="p_policy_payment_status" readonly>
                            </div>
                        </div>
                        <!--#endregion policy_payment_status-->
                    </div>
                    <!--#endregion row-->

                    <!--#region row-->
                    <div class="row">
                        <!--#region lookup Branch-->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="labelmodule">Branch</label>
                                <input type="text" class="form-control" [ngModel]="model.branch_name" maxlength="250"
                                    name="p_branch_name" readonly>
                            </div>
                        </div>
                        <!--#endregion lookup Branch-->

                        <!--#region currency_code-->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="labelmodule">Currency</label>
                                <input class="form-control col-md-4" [ngModel]="model.currency_code"
                                    name="p_currency_code" readonly>
                            </div>
                        </div>
                        <!--#endregion currency_code-->

                        <!--#region insurance type-->
                        <div class="col-md-4" hidden>
                            <div class="form-group">
                                <label>Insurance Type</label>
                                <input type="text" class="form-control" [ngModel]="model.insurance_type"
                                    name="p_insurance_type" readonly>
                            </div>
                        </div>
                        <!--#endregion insurance type-->
                    </div>
                    <!--#endregion row-->

                    <!--#region row-->
                    <div class="row">
                        <!--#region policy_payment_type-->
                        <div class="col-md-4" hidden>
                            <div class="form-group">
                                <label>Payment Type</label>
                                <input type="text" class="form-control" [ngModel]="model.policy_payment_type"
                                    name="p_policy_payment_type" readonly>
                            </div>
                        </div>
                        <!--#endregion policy_payment_type-->

                        <!--#region insurance_name-->
                        <div class="col-md-4" hidden>
                            <div class="form-group">
                                <label>Insurance Name</label>
                                <input type="text" class="form-control" [ngModel]="model.insurance_name"
                                    name="p_insurance_name" readonly>
                            </div>
                        </div>
                        <!--#endregion insurance_name-->
                    </div>
                    <!--#endregion row-->

                    <!--#region row-->
                    <div class="row" hidden>
                        <!--#region fa_code -->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Fixed Asset No</label>
                                <input type="text" class="form-control" [ngModel]="model.fa_code" name="p_fa_code"
                                    readonly>
                            </div>
                        </div>
                        <!--#endregion fa_code -->

                        <!--#region fa_name-->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Fixed Asset Name</label>
                                <input type="text" class="form-control" [ngModel]="model.fa_name" name="p_fa_name"
                                    readonly>
                            </div>
                        </div>
                        <!--#endregion fa_name-->
                    </div>
                    <!--#endregion row-->

                    <!--#region row-->
                    <div class="row">
                        <!--#region source_type-->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Source Type</label>
                                <input type="text" class="form-control" [ngModel]="model.source_type"
                                    name="p_source_type" readonly>
                            </div>
                        </div>
                        <!--#endregion source_type-->

                        <!--#region insured_name-->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Insured Name</label>
                                <input type="text" class="form-control" [ngModel]="model.insured_name" maxlength="250"
                                    name="p_insured_name" readonly>
                            </div>
                        </div>
                        <!--#endregion insured_name-->

                        <!--#region insured_qq_name-->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Insured Name</label>
                                <input type="text" class="form-control" [ngModel]="model.insured_qq_name"
                                    maxlength="250" name="p_insured_qq_name" readonly>
                            </div>
                        </div>
                        <!--#endregion insured_qq_name-->

                        <!--#region object_name-->
                        <div class="col-md-4" hidden>
                            <div class="form-group">
                                <label>Insured Object Name</label>
                                <input type="text" class="form-control" [ngModel]="model.object_name" maxlength="4000"
                                    name="p_object_name" readonly>
                            </div>
                        </div>
                        <!--#endregion object_name-->
                    </div>
                    <!--#endregion row-->

                    <!--#region row-->
                    <div class="row">
                        <!--#region sum_insured-->
                        <div class="col-md-4" hidden>
                            <div class="form-group">
                                <label>Sum Insured</label>
                                <input type="text" style="text-align: right;" class="form-control col-md-6"
                                    [ngModel]="model.sum_insured | number : '1.2-2'" name="p_sum_insured" maxlength="24"
                                    amount="sum_insured" readonly>
                            </div>
                        </div>
                        <!--#endregion sum_insured-->

                        <!--#region from_year-->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>From Year</label>
                                <input type="text" class="form-control col-md-4" [ngModel]="model.from_year"
                                    name="p_from_year" readonly>
                            </div>
                        </div>
                        <!--#endregion from_year-->

                        <!--#region to_year-->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>To Year</label>
                                <input type="text" class="form-control col-md-4" [ngModel]="model.to_year"
                                    name="p_to_year" readonly>
                            </div>
                        </div>
                        <!--#endregion to_year-->
                    </div>
                    <!--#endregion row-->

                    <!--#region row-->
                    <div class="row">
                        <!--#region policy_eff_date-->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Effective Date </label>
                                <input class="form-control col-md-6" placeholder="dd/mm/yyyy" angular-mydatepicker
                                    [ngModel]="model.policy_eff_date" name="p_policy_eff_date"
                                    [options]="myDatePickerOptions" #p_policy_eff_date="ngModel" readonly
                                    #policy_eff_date="angular-mydatepicker" autocomplete="off"
                                    [ngStyle]="getStyles(true)" (click)="policy_eff_date.toggleCalendar()" />
                            </div>
                        </div>
                        <!--#endregion policy_eff_date-->

                        <!--#region policy_exp_date-->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Expired Date </label>
                                <input class="form-control col-md-6" placeholder="dd/mm/yyyy" angular-mydatepicker
                                    [ngModel]="model.policy_exp_date" name="p_policy_exp_date"
                                    [options]="myDatePickerOptions" #p_policy_exp_date="ngModel" readonly
                                    #policy_exp_date="angular-mydatepicker" autocomplete="off"
                                    [ngStyle]="getStyles(true)" (click)="policy_exp_date.toggleCalendar()" />
                            </div>
                        </div>
                        <!--#endregion policy_exp_date-->

                        <!--#region endorsement_count-->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Endorsement Count</label>
                                <input type="text" style="text-align: right;" class="form-control col-md-4"
                                    pattern="{{NumberOnlyPattern}}" [ngModel]="model.endorsement_count"
                                    name="p_endorsement_count" readonly>
                            </div>
                        </div>
                        <!--#endregion endorsement_count-->
                    </div>
                    <!--#endregion row-->

                    <!--#region row-->
                    <div class="row">
                        <!--#region cover_note_no-->
                        <div class="col-md-4" hidden>
                            <div class="form-group">
                                <label for="cover_note_no" class="control-label">Cover Note No</label>
                                <input type="text" class="form-control" [ngModel]="model.cover_note_no" maxlength="50"
                                    name="p_cover_note_no" #cover_note_no="ngModel" readonly>
                            </div>
                        </div>
                        <!--#endregion cover_note_no-->

                        <!--#region cover_note_date-->
                        <div class="col-md-4" hidden>
                            <div class="form-group">
                                <label for="cover_note_date" class="control-label">Cover Note Date </label>
                                <input [ngStyle]="getStyles(isButton)" class="form-control col-md-6"
                                    placeholder="dd/mm/yyyy" angular-mydatepicker [ngModel]="model.cover_note_date"
                                    name="p_cover_note_date" [options]="myDatePickerOptions"
                                    #p_cover_note_date="ngModel" readonly #cover_note_date="angular-mydatepicker"
                                    autocomplete="off" />
                            </div>
                        </div>
                        <!--#endregion cover_note_date-->

                        <!--#region is_policy_existing-->
                        <div class="col-md-4">
                            <div class="form-check mt-4" style="margin-left: -35px;">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input disabled class="form-check-input" type="checkbox"
                                            [ngModel]="model.is_policy_existing" name="p_is_policy_existing">
                                        Existing Policy
                                        <span class="form-check-sign"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!--#endregion is_policy_existing-->

                        <!--#region invoice_no-->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="invoice_no" class="control-label">Invoice No </label>
                                <input type="text" class="form-control" [ngModel]="model.invoice_no" maxlength="50"
                                    name="p_invoice_no" #invoice_no="ngModel" readonly>
                            </div>
                        </div>
                        <!--#endregion invoice_no-->

                        <!--#region invoice_date-->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="invoice_date" class="control-label">Invoice Date </label>
                                <div>
                                    <input [ngStyle]="getStyles(isButton)" class="form-control col-md-6"
                                        placeholder="dd/mm/yyyy" angular-mydatepicker [ngModel]="model.invoice_date"
                                        name="p_invoice_date" [options]="myDatePickerOptions" #p_invoice_date="ngModel"
                                        #invoice_date="angular-mydatepicker" autocomplete="off" readonly />
                                </div>
                            </div>
                        </div>
                        <!--#endregion invoice_date-->

                        <!--#region paths-->
                        <div class="col-md-4"
                            [hidden]="model.policy_payment_status !== 'HOLD' && model.file_name == null">
                            <div class="form-group">
                                <label [hidden]="this.tampHidden !== false">Policy File</label>
                                <div class="row" style="margin-left: 30px;">
                                    <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                        <div [hidden]="this.tampHidden !== false">
                                            <span>
                                                <a class="btn btn-primary btn-round btn-file " type="button"
                                                    (click)="priviewFile(model.file_name, model.paths)">
                                                    <span><i class="fa fa-eye"></i></span></a>
                                            </span>
                                            <div> {{model.file_name}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--#endregion paths-->
                    </div>
                    <!--#endregion row-->

                    <!--#region row-->
                    <div class="row">
                        <!--#region total_premi_sell_amount-->
                        <div class="col-md-4" hidden>
                            <div class="form-group">
                                <label>Premium Sell Amount</label>
                                <input type="text" style="text-align: right;" class="form-control col-md-6"
                                    maxlength="24" amount="total_premi_sell_amount"
                                    [ngModel]="model.total_premi_sell_amount | number : '1.2-2'"
                                    name="p_total_premi_sell_amount" readonly>
                            </div>
                        </div>
                        <!--#endregion total_premi_sell_amount-->

                        <!--#region total_premi_buy_amount-->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="total_premi_buy_amount" class="control-label">Total Initial Buy
                                    Amount</label>
                                <input type="text" style="text-align: right;" class="form-control col-md-6"
                                    maxlength="24" amount="total_premi_buy_amount"
                                    [ngModel]="model.total_premi_buy_amount | number : '1.2-2'"
                                    name="p_total_premi_buy_amount" readonly>
                            </div>
                        </div>
                        <!--#endregion total_premi_buy_amount-->

                        <!--#region total_discount_amount-->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Total Discount Amount</label>
                                <input type="text" style="text-align: right;" class="form-control col-md-6"
                                    maxlength="24" amount="total_discount_amount"
                                    [ngModel]="model.total_discount_amount | number : '1.2-2'"
                                    name="p_total_discount_amount" readonly>
                            </div>
                        </div>
                        <!--#endregion total_discount_amount-->

                        <!--#region total_adjusment_amount-->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Adjustment Amount</label>
                                <input type="text" style="text-align: right;" class="form-control col-md-6"
                                    maxlength="24" amount="total_adjusment_amount"
                                    [ngModel]="model.total_adjusment_amount | number : '1.2-2'"
                                    name="p_total_adjusment_amount" readonly>
                            </div>
                        </div>
                        <!--#endregion total_adjusment_amount-->
                    </div>
                    <!--#endregion row-->

                    <!--#region row-->
                    <div class="row">
                        <!--#region stamp_fee_amount-->
                        <div class="col-md-4" hidden>
                            <div class="form-group">
                                <label>Stamp Duty Amount</label>
                                <input type="text" style="text-align: right;" class="form-control col-md-6"
                                    maxlength="24" amount="stamp_fee_amount"
                                    [ngModel]="model.stamp_fee_amount | number : '1.2-2'" name="p_stamp_fee_amount"
                                    readonly>
                            </div>
                        </div>
                        <!--#endregion stamp_fee_amount-->

                        <!--#region admin_fee_amount-->
                        <div class="col-md-4" hidden>
                            <div class="form-group">
                                <label>Admin Fee Amount</label>
                                <input type="text" style="text-align: right;" class="form-control col-md-6"
                                    maxlength="24" amount="admin_fee_amount"
                                    [ngModel]="model.admin_fee_amount | number : '1.2-2'" name="p_admin_fee_amount"
                                    readonly>
                            </div>
                        </div>
                        <!--#endregion admin_fee_amount-->
                    </div>
                    <!--#endregion row-->

                    <!--#region row-->
                    <div class="row">
                        <!--#region ppn_amount-->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>PPN Amount</label>
                                <input type="text" style="text-align: right;" class="form-control col-md-6"
                                    amount="ppn_amount" [ngModel]="model.ppn_amount | number : '1.2-2'"
                                    name="p_ppn_amount" readonly>
                            </div>
                        </div>
                        <!--#endregion ppn_amount-->

                        <!--#region pph_amount-->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>PPH Amount</label>
                                <input type="text" style="text-align: right;" class="form-control col-md-6"
                                    amount="pph_amount" [ngModel]="model.pph_amount | number : '1.2-2'"
                                    name="p_pph_amount" readonly>
                            </div>
                        </div>
                        <!--#endregion pph_amount-->

                        <!--#region total_net_premi_amount-->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Payment Amount</label>
                                <input type="text" style="text-align: right;" class="form-control col-md-6"
                                    maxlength="24" amount="total_net_premi_amount"
                                    [ngModel]="model.total_net_premi_amount | number : '1.2-2'"
                                    name="p_total_net_premi_amount" readonly>
                            </div>
                        </div>
                        <!--#endregion total_net_premi_amount-->
                    </div>
                    <!--#endregion row-->
                    <!-- </form> -->
                    <!--#endregion form-->
                </div>
            </div>

            <span layout="row horizontal-divider">
                <hr flex />
            </span>
            <div class="row">
                <div class="col-md-12">
                    <div class="card-header">
                        <h5>Asset Info</h5>
                    </div>
                    <div class="card-body">
                        <!--#region list view-->
                        <table id="datatablespolicyasset" datatable [dtOptions]="dtOptions"
                            class="table table-striped table-bordered row-border hover" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th style="display: none;"></th>
                                    <th class="disabled-sorting">No</th>
                                    <th>Fixed Asset</th>
                                    <th>Depreciation</th>
                                    <th>Occupation</th>
                                    <th>Region</th>
                                    <th>Sum Insured Amount</th>
                                    <th>Total Premi Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of listpolicymainasset; let i = index">
                                    <td style="display: none;"></td>
                                    <td style="text-align: center;">{{listpolicymainasset.numberIndex+i+1}}</td>
                                    <td style="width: 20%;">{{row.fa_code}} <br> {{row.item_name}}/ {{row.plat_no}}
                                        {{row.colour}}
                                    </td>
                                    <td style="width: 15%;text-align: left;">{{row.depreciation_name}}</td>
                                    <td style="width: 20%;text-align: left;">{{row.occupation_name}}</td>
                                    <td style="width: 15%;text-align: left;">{{row.region_name}}</td>
                                    <td style="width: 15%;text-align: right;">{{row.sum_insured_amount | number :
                                        '1.2-2'}}
                                    </td>
                                    <td style="width: 15%;text-align: right;">{{row.total_coverage_premi_amount | number
                                        : '1.2-2'}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!--#endregion list view-->
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">

                    <div class="card-header">
                        <h5>Coverage Info</h5>
                    </div>

                    <div class="card-body">
                        <!--#region list view-->
                        <table id="datatables" datatable [dtOptions]="dtOptionsCoverage"
                            class="table table-striped table-bordered row-border hover" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th style="display: none;"></th>
                                    <th class="disabled-sorting">No</th>
                                    <th>Period (Year)</th>
                                    <th>Premi Amount</th>
                                    <th>Coverage</th>
                                    <th>Main Coverage</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of listpolicymainperiod; let i = index">
                                    <td style="display: none;"></td>
                                    <td style="text-align: center;">{{listpolicymainperiod.numberIndex+i+1}}</td>
                                    <td class="if-no-edit-btn" style="width: 15%;text-align: center;">
                                        {{row.year_periode}}</td>
                                    <td style="width: 20%;text-align: right;">{{row.sum_coverage_premi_amount | number :
                                        '1.2-2'}}</td>
                                    <td style="width: 50%;">{{row.coverage_name}} <sup>{{row.endorsement_count}}</sup>
                                    </td>
                                    <td style="width: 15%;text-align: center;">{{row.is_main_coverage}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <!--#endregion List view-->
                        <!--#endregion list view-->
                    </div>
                </div>
            </div>

            <div class="row" hidden>
                <div class="col-md-12">
                    <div class="card-header">
                        <h5>Loading Info</h5>
                    </div>

                    <div class="card-body">
                        <!--#region list view-->
                        <table id="datatablesss" datatable [dtOptions]="dtOptionsLoading"
                            class="table table-striped table-bordered row-border hover" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th style="display: none;"></th>
                                    <th class="disabled-sorting">No</th>
                                    <th>Period (Year)</th>
                                    <th>Loading Name</th>
                                    <th>Total Buy Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of listpolicymainloading; let i=index">
                                    <td style="display: none;"></td>
                                    <td style="text-align: center;">{{listpolicymainloading.numberIndex+i+1}}</td>
                                    <td style="width: 20%;text-align: center;">{{row.year_period}}</td>
                                    <td style="width: 50%;">{{row.loading_name}}</td>
                                    <td style="width: 30%;text-align: right;">{{row.total_buy_amount | number :
                                        '1.2-2'}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <!--#endregion List view-->
                    </div>
                </div>
            </div>

            <span layout="row horizontal-divider">
                <hr flex />
            </span>
            <div class="row" hidden>
                <div class="col-md-12">

                    <div class="card-header">
                        <h5>Adjustment Info</h5>
                    </div>

                    <div class="card-body">
                        <!--#region list view-->
                        <table id="datatables" datatable [dtOptions]="dtOptionsAdjustment"
                            class="table table-striped table-bordered row-border hover" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th class="disabled-sorting">No</th>
                                    <th style="display: none;"></th>
                                    <th>Register Code</th>
                                    <th>FA Code/Item Name</th>
                                    <th>Plat / Chassis / Engine No</th>
                                    <th>DP Amount</th>
                                    <th>Remark</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of listorderdetail; let i = index">
                                    <td style="text-align: center;">{{listorderdetail.numberIndex+i+1}}</td>
                                    <td style="display: none;"></td>
                                    <td style="text-align: center;width: 15%;">{{row.register_code}}</td>
                                    <td style="text-align: left; width: 20%;">{{row.fa_code}} <br>
                                        {{row.item_name}}
                                    </td>
                                    <td style="text-align: left; width: 20%;">{{row.plat_no}} <br>
                                        {{row.chassis_no}} <br> {{row.engine_no}}</td>
                                    <td style="width: 15%;">
                                        <input id="dp_to_public_service{{i}}" class="form-control"
                                            (blur)="onBlur($event,i,'rate')" (focus)="onFocus($event,i,'rate')"
                                            type="text" value="{{row.dp_to_public_service | number : '1.2-2'}}"
                                            style="text-align: right;" rate="dp_to_public_service"
                                            name="p_dp_to_public_service" amount="dp_to_public_service"
                                            (change)="changePct($event, row.id, 'amount', i)" readonly>
                                        <input type="hidden" value="{{row.id}}" name="p_id">
                                    </td>
                                    <td style="text-align: left; width: 30%;">{{row.register_remarks}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!--#endregion List view-->
                        <!--#endregion list view-->
                    </div>
                </div>
            </div>

            <span layout="row horizontal-divider">
                <hr flex />
            </span>
            <div class="row">
                <div class="col-md-12">


                    <div class="card-header">
                        <h5>History Info</h5>
                    </div>

                    <div class="card-body">
                        <!--#region list view-->
                        <table id="datatablessss" datatable [dtOptions]="dtOptionsHistory"
                            class="table table-striped table-bordered row-border hover" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th style="display: none;"></th>
                                    <th class="disabled-sorting">No</th>
                                    <th>Date</th>
                                    <th>Type</th>
                                    <th>Status</th>
                                    <th>Remark</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of listpolicymainhistory; let i=index">
                                    <td style="display: none;"></td>
                                    <td style="text-align: center;">{{listpolicymainhistory.numberIndex+i+1}}</td>
                                    <td style="width: 15%;text-align: center;">{{row.history_date}}</td>
                                    <td style="width: 15%;text-align: center;">{{row.history_type}}</td>
                                    <td style="width: 15%;text-align: center;">{{row.policy_status}}</td>
                                    <td class="if-no-edit-btn" style="width: 55%;">{{row.history_remarks}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <!--#endregion List view-->
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>