<div class="main-content">
  <!-- spinner region -->
  <div class="panel-container-spinner" *ngIf="showSpinner">
    <app-spinner class="spinner-container"></app-spinner>
  </div>
  <!-- end spinner region -->
  <div class="row">
    <div class="col-md-12 buttons btn-lookup-margin">
      <div class="card ">
        <!--#region watermark-->
        <div class="watermark" [hidden]="this.isWatermark === '0'">
          <h6>{{this.companyName}}</h6>
          <h6>{{this.userName}}</h6>
          <h6>{{this.sysDate | date}} {{this.currentTime}}</h6>
        </div>
        <!--#endregion watermark-->
        <div class="card-header ">
          <h5 class="card-title">Insurance Rate Info </h5>
          <div class="card-body ">
            <!--#region form-->
            <form #insuranceratenonlifeForm="ngForm"
              (ngSubmit)="onFormSubmit(insuranceratenonlifeForm.value, insuranceratenonlifeForm.valid)">

              <!--#region button submit dan back-->
              <button type="submit" class="btn btn-info btn-round" data-role="R00021350012135C">Save</button>
              <button type="button" class="btn btn-danger btn-round" (click)="btnBack()">Back</button>
              <!--#endregion button submit dan back-->

              <!--#region row-->
              <div class="row">
                <!--#region code-->
                <div class="col-md-4" hidden>
                  <div [hidden]="model.code != null" class="row" style="margin-bottom: -15px; padding-top: 30px;">
                    <h1 class="col-md-4" style="font-size: 12px;">Code</h1>
                    <h1 class="col-md-8" style="font-size: 12px;">-Auto
                      Generate-</h1>
                  </div>
                  <div [hidden]="model.code == null" class="form-group">
                    <label>Code *</label>
                    <input type="text" class="form-control" [ngModel]="model.code" maxlength="50" name="p_code"
                      [readonly]="isReadOnly">
                  </div>
                </div>
                <!--#endregion code-->

                <!--#region insurance code-->
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Insurance Name *</label>
                    <div class="col-md-12 buttons btn-lookup-margin">
                      <span>
                        <button class="btn btn-icon btn-outline-default btn-round btn-md" type="button"
                          (click)="btnLookupInsurance()" data-toggle="modal" data-target="#lookupModalInsurance"
                          href="#"><i class="fa fa-search-plus"></i></button>
                        {{model.insurance_name}}
                        <input type="hidden" class="form-control" [ngModel]="model.insurance_code" required
                          name="p_insurance_code" #insurance_code="ngModel">
                      </span>
                    </div>
                    <small
                      [hidden]="insurance_code.valid || (insurance_code.pristine && !insuranceratenonlifeForm.submitted)"
                      class="text-danger">
                      Insurance Name is required
                    </small>
                  </div>
                </div>
                <!--#endregion insurance code-->

                <!--#region colllateral type-->
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="labelgsubcode">Asset Type *</label>
                    <div class="col-md-12 buttons btn-lookup-margin">
                      <span>
                        <button class="btn btn-icon btn-outline-default btn-round btn-md" type="button"
                          (click)="btnLookupCollateralType()" data-toggle="modal"
                          data-target="#lookupModalCollateralType" href="#"><i class="fa fa-search-plus"></i></button>
                        {{model.description}}
                        <input type="hidden" class="form-control" [ngModel]="model.collateral_type_code" required
                          #collateral_type_code="ngModel" name="p_collateral_type_code">
                      </span>
                    </div>
                    <small
                      [hidden]="collateral_type_code.valid || (collateral_type_code.pristine && !insuranceratenonlifeForm.submitted)"
                      class="text-danger">
                      Collateral Type is required
                    </small>
                  </div>
                </div>
                <!--#endregion colllateral type-->

                <!--#region colllateral category-->
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Asset Category *</label>
                    <div class="col-md-12 buttons btn-lookup-margin">
                      <span>
                        <button class="btn btn-icon btn-outline-default btn-round btn-md" type="button"
                          (click)="btnLookupCollateralCategory()" data-toggle="modal"
                          data-target="#lookupModalCollateralCategory" href="#"><i
                            class="fa fa-search-plus"></i></button>
                        {{model.category_name}}
                        <input type="hidden" class="form-control" [ngModel]="model.collateral_category_code" required
                          #collateral_category_code="ngModel" name="p_collateral_category_code">
                      </span>
                    </div>
                    <small
                      [hidden]="collateral_category_code.valid || (collateral_category_code.pristine && !insuranceratenonlifeForm.submitted)"
                      class="text-danger">
                      Collateral Category is required
                    </small>
                  </div>
                </div>
                <!--#endregion colllateral category-->
              </div>
              <!--#endregion row-->

              <!--#region row-->
              <div class="row">
                <!--#region coverage code-->
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Coverage Name *</label>
                    <div class="col-md-12 buttons btn-lookup-margin">
                      <span>
                        <button class="btn btn-icon btn-outline-default btn-round btn-md" type="button"
                          (click)="btnLookupCoverage()" data-toggle="modal" data-target="#lookupModalCoverage"
                          href="#"><i class="fa fa-search-plus"></i></button>
                        {{model.coverage_name}}
                        <input type="hidden" class="form-control" [ngModel]="model.coverage_code" name="p_coverage_code"
                          required #coverage_code="ngModel">
                      </span>
                    </div>
                    <small
                      [hidden]="coverage_code.valid || (coverage_code.pristine && !insuranceratenonlifeForm.submitted)"
                      class="text-danger">
                      Coverage Name is required
                    </small>
                  </div>
                </div>
                <!--#endregion coverage code -->

                <!--#region currency-->
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="currency_code" class="control-label">Currency </label>
                    <input type="text" class="form-control" [ngModel]="model.currency_code" name="p_currency_code"
                      readonly #currency_code="ngModel">
                  </div>
                </div>
                <!--#endregion currency-->

                <!--#region day in year-->
                <div class="col-md-4">
                  <label>Day In Year </label>
                  <div class="form-group col-md-12">
                    <div class="row">
                      <div class="form-check-radio form-check-inline">
                        <label class="form-check-label">
                          <input class="form-check-input" type="radio" name="p_day_in_year" value="360"
                            [(ngModel)]="model.day_in_year">360
                          <span class="form-check-sign"></span>
                        </label>
                      </div>
                      <div class="form-check-radio form-check-inline">
                        <label class="form-check-label">
                          <input class="form-check-input" type="radio" name="p_day_in_year" value="365"
                            [(ngModel)]="model.day_in_year">365
                          <span class="form-check-sign"></span>
                        </label>
                      </div>
                      <div class="form-check-radio form-check-inline">
                        <label class="form-check-label">
                          <input class="form-check-input" type="radio" name="p_day_in_year" value="ACTUAL"
                            [(ngModel)]="model.day_in_year">ACTUAL
                          <span class="form-check-sign"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <!--#endregion day in year-->

                <!--#region region code-->
                <div class="col-md-4" [hidden]="model.collateral_type_code != 'VHCL'">
                  <div class="form-group">
                    <label>Region Name </label>
                    <div class="col-md-12 buttons btn-lookup-margin">
                      <span>
                        <button class="btn btn-icon btn-outline-default btn-round btn-md" type="button"
                          (click)="btnLookupRegion()" data-toggle="modal" data-target="#lookupModalRegion" href="#"><i
                            class="fa fa-search-plus"></i></button>
                        {{model.region_name}}
                        <input type="hidden" class="form-control" [disabled]="model.collateral_type_code != 'VHCL'"
                          [ngModel]="model.region_code" name="p_region_code" #region_code="ngModel">
                      </span>
                    </div>
                  </div>
                </div>
                <!--#endregion region code -->

                <!--#region occupation code-->
                <div class="col-md-4" [hidden]="model.collateral_type_code == 'VHCL'">
                  <div class="form-group">

                    <label (click)="btnClearOccupation()" style="cursor: pointer;" title="Clear">Occupation Name
                    </label>
                    <div class="col-md-12 buttons btn-lookup-margin">
                      <span>
                        <button class="btn btn-icon btn-outline-default btn-round btn-md" type="button"
                          (click)="btnLookupOccupation()" data-toggle="modal" data-target="#lookupModalOccupation"
                          href="#"><i class="fa fa-search-plus"></i></button>
                        {{model.occupation_name}}
                        <input type="hidden" class="form-control" [disabled]="model.collateral_type_code == 'VHCL'"
                          [ngModel]="model.occupation_code" name="p_occupation_code" #occupation_code="ngModel">
                      </span>
                    </div>
                  </div>
                </div>
                <!--#endregion occupation code -->

                <!--#region Is active-->
                <div class="col-md-4">
                  <div class="form-check mt-4" style="margin-left: -35px;">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" [ngModel]="model.is_active" name="p_is_active">
                        Active
                        <span class="form-check-sign"></span>
                      </label>
                    </div>
                  </div>
                </div>
                <!--#endregion Is active-->
              </div>
              <!--#endregion row-->
            </form>
          </div>

          <div *ngIf="param != null">
            <!--#region list view-->
            <span layout="row horizontal-divider">
              <hr flex />
            </span>
            <div class="row">
              <div class="col-md-12 buttons btn-lookup-margin">

                <div class="card-header">
                  <h5 class="card-title">Rate List</h5>
                </div>
                <div class="card-body">
                  <div class="toolbar">
                    <!--#region button add-->
                    <button class="btn btn-info btn-round" (click)="btnAdd()" data-role="R00021350022135C">
                      Add
                    </button>
                    <button class="btn btn-danger btn-round" (click)="btnDeleteAll()" data-role="R00021350012135D">
                      Delete
                    </button>
                    <!--#endregion button add, delete-->
                  </div>

                  <!--#region list view-->
                  <table id="datatables" datatable [dtOptions]="dtOptions"
                    class="table table-striped table-bordered row-border hover" cellspacing="0" width="100%">
                    <thead>
                      <tr>
                        <th class="disabled-sorting">No</th>
                        <th class="disabled-sorting">
                          <div class="form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" type="checkbox" id="checkall" [(ngModel)]="selectedAll"
                                (change)="selectAllTable();" />
                              <span class="form-check-sign"></span>
                            </label>
                          </div>
                        </th>
                        <th>Sum Insured Range</th>
                        <th>Calculate Type</th>
                        <th>Premium Amount</th>
                        <th>Premium Rate (%)</th>
                        <th class="text-center">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let row of listinsuranceratenonlifedetail; let i=index">
                        <td style="text-align: center;">{{listinsuranceratenonlifedetail.numberIndex+i+1}}</td>
                        <td class="disabled-sorting">
                          <div class="form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" type="checkbox" [(ngModel)]="row.selected"
                                (change)="checkIfAllTableSelected($event, row.id);">
                              <span class="form-check-sign"></span>
                            </label>
                          </div>
                        </td>
                        <td style="width: 30%;text-align: right;">{{row.sum_insured_from | number : '1.2-2'}} <br>
                          {{row.sum_insured_to | number : '1.2-2'}}
                        </td>
                        <td style="width: 20%;">{{row.calculate_by}}</td>
                        <td style="width: 25%;text-align: right;">{{row.buy_amount | number : '1.2-2'}}</td>
                        <td style="width: 25%;text-align: right;">{{row.buy_rate | number : '1.6-6'}}</td>
                        <td style="text-align: center;">
                          <a class="btn btn-warning btn-link btn-icon btn-sm edit" title="Edit"
                            (click)="btnEdit(row.id)"><i class="fa fa-edit"></i></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <!--#endregion list view-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--#region modal lookup insurance code-->
  <div class="modal bd-example-modal-lg" tabindex="-1" aria-hidden="true" id="lookupModalInsurance"
    style="margin-top: -65px">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body" style="overflow:hidden;">
          <div class="col-md-12 buttons btn-lookup-margin">
            <div class="card-body col-md-12">
              <table id="datatableLookupInsurance" class="table table-striped table-bordered hover" cellspacing="0"
                style="min-width: 100%;">
                <thead>
                  <tr>
                    <th style="display: none;"></th>
                    <th class="disabled-sorting">No</th>
                    <th>Insurance Name</th>
                    <th class="text-center">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of lookupinsurance;  let i=index">
                    <td style="display: none;"></td>
                    <td style="text-align: center;">{{lookupinsurance.numberIndex+i+1}}</td>
                    <td style="width: 100%;">{{ row.insurance_name }}</td>
                    <td class="text-center">
                      <button class="btn btn-outline-default btn-round"
                        (click)="btnSelectRowInsurance(row.code, row.insurance_name)">Select</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--#endregion modal lookup insurance code-->

  <!--#region lookup coverage-->
  <div class="modal bd-example-modal-lg" tabindex="-1" aria-hidden="true" id="lookupModalCoverage"
    style="margin-top: -65px">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body" style="overflow:hidden;">
          <div class="col-md-12 buttons btn-lookup-margin">
            <div class="card-body col-md-12">
              <table id="datatableLookupCoverage" class="table table-striped table-bordered hover" cellspacing="0"
                style="min-width: 100%;">
                <thead>
                  <tr>
                    <th style="display: none;"></th>
                    <th class="disabled-sorting">No</th>
                    <th>Coverage Name</th>
                    <th class="text-center">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of lookupcoverage;  let i=index">
                    <td style="display: none;"></td>
                    <td style="text-align: center;">{{lookupcoverage.numberIndex+i+1}}</td>
                    <td style="width: 100%;">{{ row.coverage_name }}</td>
                    <td class="text-center">
                      <button class="btn btn-outline-default btn-round"
                        (click)="btnSelectRowCoverage(row.code, row.coverage_name, row.currency_code)">Select</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--#endregion lookup coverage-->

  <!--#region lookup occupation-->
  <div class="modal bd-example-modal-lg" tabindex="-1" aria-hidden="true" id="lookupModalOccupation"
    style="margin-top: -65px">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body" style="overflow:hidden;">
          <div class="col-md-12 buttons btn-lookup-margin">
            <div class="card-body col-md-12">
              <table id="datatableLookupOccupation" class="table table-striped table-bordered hover" cellspacing="0"
                style="min-width: 100%;">
                <thead>
                  <tr>
                    <th style="display: none;"></th>
                    <th class="disabled-sorting">No</th>
                    <th>Code</th>
                    <th>Occupation Name</th>
                    <th class="text-center">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of lookupoccupation;  let i=index">
                    <td style="display: none;"></td>
                    <td style="text-align: center;">{{lookupoccupation.numberIndex+i+1}}</td>
                    <td style="width: 25%;text-align: center;">{{ row.code }}</td>
                    <td style="width: 75%;">{{ row.occupation_name }}</td>
                    <td class="text-center">
                      <button class="btn btn-outline-default btn-round"
                        (click)="btnSelectRowOccupation(row.code, row.occupation_name)">Select</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--#endregion lookup occupation-->

  <!--#region lookup region-->
  <div class="modal bd-example-modal-lg" tabindex="-1" aria-hidden="true" id="lookupModalRegion"
    style="margin-top: -65px">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body" style="overflow:hidden;">
          <div class="col-md-12 buttons btn-lookup-margin">
            <div class="card-body col-md-12">
              <table id="datatableLookupRegion" class="table table-striped table-bordered hover" cellspacing="0"
                style="min-width: 100%;">
                <thead>
                  <tr>
                    <th style="display: none;"></th>
                    <th class="disabled-sorting">No</th>
                    <th>Code</th>
                    <th>Region Name</th>
                    <th class="text-center">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of lookupregion;  let i=index">
                    <td style="display: none;"></td>
                    <td style="text-align: center;">{{lookupregion.numberIndex+i+1}}</td>
                    <td style="text-align: center; width: 25%;">{{ row.code }}</td>
                    <td style="width: 75%;">{{ row.region_name }}</td>
                    <td class="text-center">
                      <button class="btn btn-outline-default btn-round"
                        (click)="btnSelectRowRegion(row.code, row.region_name)">Select</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--#endregion lookup region-->

  <!--#region collateral type-->
  <div class="modal bd-example-modal-lg" tabindex="-1" aria-hidden="true" id="lookupModalCollateralType"
    style="margin-top: -65px">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body" style="overflow:hidden;">
          <div class="col-md-12 buttons btn-lookup-margin">
            <div class="card-body col-md-12">
              <table id="datatableLookupCollateralType" class="table table-striped table-bordered hover" cellspacing="0"
                style="min-width: 100%;">
                <thead>
                  <tr>
                    <th style="display: none;"></th>
                    <th class="disabled-sorting">No</th>
                    <th>Code</th>
                    <th>Description</th>
                    <th class="text-center">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of lookupcollateraltype;  let i=index">
                    <td style="display: none;"></td>
                    <td style="text-align: center;">{{lookupcollateraltype.numberIndex+i+1}}</td>
                    <td style="text-align: center; width: 25%;">{{ row.code }}</td>
                    <td style="width: 75%;">{{ row.general_subcode_desc }}</td>
                    <td class="text-center">
                      <button class="btn btn-outline-default btn-round"
                        (click)="btnSelectRowCollateralType(row.code, row.general_subcode_desc)">Select</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--#endregion collateral type-->

  <!--#region collateral category-->
  <div class="modal bd-example-modal-lg" tabindex="-1" aria-hidden="true" id="lookupModalCollateralCategory"
    style="margin-top: -65px">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body" style="overflow:hidden;">
          <div class="col-md-12 buttons btn-lookup-margin">
            <div class="card-body col-md-12">
              <table id="datatableLookupCollateralCategory" class="table table-striped table-bordered hover"
                cellspacing="0" style="min-width: 100%;">
                <thead>
                  <tr>
                    <th style="display: none;"></th>
                    <th class="disabled-sorting">No</th>
                    <th>Code</th>
                    <th>Description</th>
                    <th class="text-center">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of lookupcollateralcategory;  let i=index">
                    <td style="display: none;"></td>
                    <td style="text-align: center;">{{lookupcollateralcategory.numberIndex+i+1}}</td>
                    <td style="text-align: center; width: 25%;">{{ row.code }}</td>
                    <td style="width: 75%;">{{ row.category_name }}</td>
                    <td style="text-align: center;">
                      <button class="btn btn-outline-default btn-round"
                        (click)="btnSelectRowCollateralCategory(row.code, row.category_name)">Select</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--#endregion collateral category-->