<div class="main-content margin-wizard-content">
  <!-- spinner region -->
  <div class="panel-container-spinner" *ngIf="showSpinner">
    <app-spinner class="spinner-container"></app-spinner>
  </div>
  <!-- end spinner region -->
  <div class="row">
    <div class="col-md-12">
      <!--#region form-->
      <form #registerperiodForm="ngForm" (ngSubmit)="onFormSubmit(registerperiodForm.value, registerperiodForm.valid)">

        <!--#region button submit dan back-->
        <button type="submit" class="btn btn-info btn-round" data-role="R00022030002204C"
          [hidden]="model.register_status !== 'HOLD'">Save</button>
        <button type="button" class="btn btn-danger btn-round" (click)="btnBack()">Back</button>
        <!--#endregion button submit dan back-->

        <!--#region row-->
        <div class="row">
          <!--#region id-->
          <input hidden type="text" [ngModel]="model.id" name="p_id">
          <!--#endregion id-->

          <!--#region Register Code-->
          <input type="text" [ngModel]="this.param" maxlength="50" name="p_register_code" hidden>
          <!--#endregion Register Code-->

          <!--#region Register Status-->
          <input type="text" [ngModel]="model.register_status" name="p_register_status" hidden>
          <!--#endregion Register Status-->

          <!--#region insurance_type-->
          <input type="text" [ngModel]="model.insurance_type" name="p_insurance_type" hidden>
          <!--#endregion insurance_type-->

          <!--#region currency_code-->
          <input type="text" [ngModel]="model.currency_code" name="p_currency_code" hidden>
          <!--#endregion currency_code-->

          <!--#region year_periode-->
          <div class="col-md-4">
            <div class="form-group">
              <label for="year_periode" class="control-label">Period (Year) *</label>
              <input type="text" class="form-control col-md-6" [ngModel]="model.year_periode" name="p_year_periode"
                required #year_periode="ngModel" pattern="{{NumberOnlyPattern}}" [readonly]="isReadOnly" maxlength="4">
              <small
                *ngIf="(year_periode.errors?.required && year_periode.touched) || (year_periode.errors?.required && registerperiodForm.submitted)"
                class="text-danger">
                Period (Year) is required
              </small>
              <small *ngIf="year_periode.errors?.pattern && year_periode.touched" class="text-danger">
                Period (Year) is required and format should be <i>0-9</i>
              </small>
            </div>
          </div>
          <!--#endregion year_periode-->

          <!--#region Lookup coverage code-->
          <div class="col-md-4">
            <div class="form-group">
              <label>Coverage *</label>
              <div class="col-md-12 buttons btn-lookup-margin">
                <span>
                  <button [disabled]="isReadOnly" class="btn btn-icon btn-outline-default btn-round btn-md"
                    type="button" (click)="btnLookupCoverage()" data-toggle="modal" data-target="#lookupModalCoverage"
                    href="#"><i class="fa fa-search-plus"></i></button>
                  {{model.coverage_name}}
                  <input type="hidden" class="form-control" [ngModel]="model.coverage_code" name="p_coverage_code"
                    required #coverage_code="ngModel">
                </span>
              </div>
              <small [hidden]="coverage_code.valid || (coverage_code.pristine && !registerperiodForm.submitted)"
                class="text-danger">
                Coverage is required
              </small>
            </div>
          </div>
          <!--#endregion Lookup coverage code -->

          <!--#region currency-->
          <div class="col-md-4" hidden>
            <div class="form-group">
              <label for="currency" class="control-label">Currency </label>
              <input readonly type="text" class="form-control col-md-4" [ngModel]="model.currency" name="p_currency"
                #currency="ngModel">
            </div>
          </div>
          <!--#endregion currency-->
        </div>
        <!--#endregion row-->

        <!--#region row-->
        <div class="row" [hidden]="this.params == null">
          <!--#region sum_insured-->
          <div class="col-md-4">
            <div class="form-group">
              <label>Sum Insured</label>
              <input type="text" class="form-control col-md-6" style="text-align: right;" maxlength="24"
                amount="sum_insured" [ngModel]="model.sum_insured | number : '1.2-2'" name="p_sum_insured" readonly>
            </div>
          </div>
          <!--#endregion sum_insured-->

          <!--#region rate_depreciation-->
          <div class="col-md-4">
            <div class="form-group">
              <label>Depreciation (%)</label>
              <input type="text" class="form-control col-md-6" style="text-align: right;" maxlength="10"
                rate="rate_depreciation" [ngModel]="model.rate_depreciation | number : '1.6-6'"
                name="p_rate_depreciation" readonly>
            </div>
          </div>
          <!--#endregion rate_depreciation-->
        </div>
        <!--#endregion row-->

        <span layout="row horizontal-divider">
          <hr flex />
        </span>
        <br>

        <!--#region row-->
        <div class="row" [hidden]="this.params == null">
          <!--#region initial_buy_rate-->
          <div class="col-md-4">
            <div class="form-group">
              <label>Initial (%)</label>
              <input type="text" class="form-control col-md-6" style="text-align: right;" maxlength="10"
                rate="initial_buy_rate" [ngModel]="model.initial_buy_rate | number : '1.6-6'" name="p_initial_buy_rate"
                readonly>
            </div>
          </div>
          <!--#endregion initial_buy_rate-->

          <!--#region initial_sell_rate-->
          <div class="col-md-4" hidden>
            <div class="form-group">
              <label>Selling (%)</label>
              <input type="text" class="form-control col-md-6" style="text-align: right;" maxlength="10"
                rate="initial_sell_rate" [ngModel]="model.initial_sell_rate | number : '1.6-6'"
                name="p_initial_sell_rate" readonly>
            </div>
          </div>
          <!--#endregion initial_sell_rate-->
        </div>
        <!--#endregion row-->

        <!--#region row-->
        <div class="row" [hidden]="this.params == null">
          <!--#region initial_buy_amount-->
          <div class="col-md-4">
            <div class="form-group">
              <label>Initial Amount</label>
              <input type="text" class="form-control col-md-6" style="text-align: right;" maxlength="24"
                amount="initial_buy_amount" [ngModel]="model.initial_buy_amount | number : '1.2-2'"
                name="p_initial_buy_amount" readonly>
            </div>
          </div>
          <!--#endregion initial_buy_amount-->

          <!--#region initial_sell_amount-->
          <div class="col-md-4" hidden>
            <div class="form-group">
              <label>Selling Amount</label>
              <input type="text" class="form-control col-md-6" style="text-align: right;" maxlength="24"
                amount="initial_sell_amount" [ngModel]="model.initial_sell_amount | number : '1.2-2'"
                name="p_initial_sell_amount" readonly>
            </div>
          </div>
          <!--#endregion initial_sell_amount-->
        </div>
        <!--#endregion row-->

        <!--#region row-->
        <div class="row" [hidden]="this.params == null">
          <!--#region buy_amount-->
          <div class="col-md-4">
            <div class="form-group">
              <label>Nett Amount</label>
              <input type="text" class="form-control col-md-6" style="text-align: right;" maxlength="24"
                amount="buy_amount" [ngModel]="model.buy_amount | number : '1.2-2'" name="p_buy_amount" readonly>
            </div>
          </div>
          <!--#endregion buy_amount-->

          <!--#region sell_amount-->
          <div class="col-md-4" hidden>
            <div class="form-group">
              <label>Nett Selling Amount</label>
              <input type="text" class="form-control col-md-6" style="text-align: right;" maxlength="24"
                amount="sell_amount" [ngModel]="model.sell_amount | number : '1.2-2'" name="p_sell_amount" readonly>
            </div>
          </div>
          <!--#endregion sell_amount-->
        </div>
        <!--#endregion row-->

        <!--#region row-->
        <div class="row" [hidden]="this.params == null">
          <!--#region initial_discount_pct-->
          <div class="col-md-4">
            <div class="form-group">
              <label>Discount (%)</label>
              <input type="text" class="form-control col-md-6" style="text-align: right;" maxlength="10"
                rate="initial_discount_pct" [ngModel]="model.initial_discount_pct | number : '1.6-6'"
                name="p_initial_discount_pct" readonly>
            </div>
          </div>
          <!--#endregion initial_discount_pct-->
        </div>
        <!--#endregion row-->

        <!--#region row-->
        <div class="row" [hidden]="this.params == null">
          <!--#region initial_discount_amount-->
          <div class="col-md-4">
            <div class="form-group">
              <label>Discount Amount</label>
              <input type="text" class="form-control col-md-6" style="text-align: right;" maxlength="24"
                amount="initial_discount_amount" [ngModel]="model.initial_discount_amount | number : '1.2-2'"
                name="p_initial_discount_amount" readonly>
            </div>
          </div>
          <!--#endregion initial_discount_amount-->

          <!--#region deduction_amount-->
          <div class="col-md-4" hidden>
            <div class="form-group">
              <label for="deduction_amount" class="control-label">Adjustment Amount </label>
              <input [disabled]="model.register_status !== 'HOLD'" type="text" class="form-control col-md-6"
                maxlength="24" amount="deduction_amount" style="text-align: right;"
                [ngModel]="model.deduction_amount | number : '1.2-2'" name="p_deduction_amount"
                #deduction_amount="ngModel" (change)="deductionFeeAmount($event)">
            </div>
          </div>
          <!--#endregion deduction_amount-->
        </div>
        <!--#endregion row-->

        <!--#region row-->
        <div class="row" [hidden]="this.params == null">
          <!--#region initial_buy_admin_fee_amount-->
          <div class="col-md-4">
            <div class="form-group"
              [class.has-error]="initial_buy_admin_fee_amount.invalid && initial_buy_admin_fee_amount.touched">
              <label for="initial_buy_admin_fee_amount" class="control-label"> Initial Fee Amount</label>
              <input [disabled]="this.params == null" type="text" class="form-control col-md-6" maxlength="24"
                amount="initial_buy_admin_fee_amount" style="text-align: right;" readonly
                [ngModel]="model.initial_buy_admin_fee_amount | number : '1.2-2'" name="p_initial_buy_admin_fee_amount"
                #initial_buy_admin_fee_amount="ngModel" (change)="adminFeeAmount($event)">
            </div>
          </div>
          <!--#endregion initial_buy_admin_fee_amount-->

          <!--#region initial_sell_admin_fee_amount-->
          <div class="col-md-4" hidden>
            <div class="form-group"
              [class.has-error]="initial_sell_admin_fee_amount.invalid && initial_sell_admin_fee_amount.touched">
              <label for="initial_sell_admin_fee_amount" class="control-label"> Selling Fee Amount</label>
              <input [disabled]="this.params == null" type="text" class="form-control col-md-6" maxlength="24"
                amount="initial_sell_admin_fee_amount" style="text-align: right;" readonly
                [ngModel]="model.initial_sell_admin_fee_amount | number : '1.2-2'"
                name="p_initial_sell_admin_fee_amount" #initial_sell_admin_fee_amount="ngModel"
                (change)="adminFeeAmount($event)">
            </div>
          </div>
          <!--#endregion initial_sell_admin_fee_amount-->
        </div>
        <!--#endregion row-->

        <!--#region row-->
        <div class="row" [hidden]="this.params == null">
          <!--#region initial_stamp_fee_amount-->
          <div class="col-md-4">
            <div class="form-group"
              [class.has-error]="initial_stamp_fee_amount.invalid && initial_stamp_fee_amount.touched">
              <label for="initial_stamp_fee_amount" class="control-label">Stamp Duty Amount</label>
              <input [disabled]="this.params == null" type="text" class="form-control col-md-6" maxlength="24"
                amount="initial_stamp_fee_amount" style="text-align: right;" readonly
                [ngModel]="model.initial_stamp_fee_amount | number : '1.2-2'" name="p_initial_stamp_fee_amount"
                #initial_stamp_fee_amount="ngModel" (change)="stampFeeAmount($event)">
            </div>
          </div>
          <!--#endregion Initial Stamp Fee Amount-->

          <!--#region initial_stamp_fee_amount-->
          <div class="col-md-4" hidden>
            <div class="form-group"
              [class.has-error]="initial_stamp_fee_amount.invalid && initial_stamp_fee_amount.touched">
              <label for="initial_stamp_fee_amount" class="control-label">Selling Stamp Duty Amount</label>
              <input [disabled]="this.params == null" type="text" class="form-control col-md-6" maxlength="24"
                amount="initial_stamp_fee_amount" style="text-align: right;" readonly
                [ngModel]="model.initial_stamp_fee_amount | number : '1.2-2'" name="p_initial_stamp_fee_amount"
                #initial_stamp_fee_amount="ngModel" (change)="stampFeeAmount($event)">
            </div>
          </div>
          <!--#endregion Initial Stamp Fee Amount-->
        </div>
        <!--#endregion row-->

        <!--#region row-->
        <div class="row" [hidden]="this.params == null">
          <!--#region total_buy_amount-->
          <div class="col-md-4">
            <div class="form-group">
              <label>Total Nett Amount</label>
              <input [disabled]="this.params == null" type="text" class="form-control col-md-6" maxlength="24"
                amount="total_buy_amount" style="text-align: right;"
                [ngModel]="model.total_buy_amount | number : '1.2-2'" name="p_total_buy_amount" readonly>
            </div>
          </div>
          <!--#endregion total_buy_amount-->

          <!--#region total_sell_amount-->
          <div class="col-md-4" hidden>
            <div class="form-group">
              <label>Total Nett Selling Amount</label>
              <input [disabled]="this.params == null" type="text" class="form-control col-md-6"
                style="text-align: right;" [ngModel]="model.total_sell_amount | number : '1.2-2'" maxlength="24"
                amount="total_sell_amount" name="p_total_sell_amount" readonly>
            </div>
          </div>
          <!--#endregion total_sell_amount-->
        </div>
        <!--#endregion row-->
      </form>
      <!--#endregion form-->
    </div>
  </div>
</div>

<!--#region lookup coverage-->
<div class="modal bd-example-modal-lg" tabindex="-1" aria-hidden="true" id="lookupModalCoverage"
  style="margin-top: -65px">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" style="overflow:hidden;">
        <div class="col-md-12 buttons btn-lookup-margin">
          <div class="card-body col-md-12">
            <table id="datatableLookupCoverage" class="table table-striped table-bordered hover" cellspacing="0"
              style="min-width: 100%;">
              <thead>
                <tr>
                  <th style="display: none;"></th>
                  <th class="disabled-sorting">No</th>
                  <th>Coverage Name</th>
                  <th class="text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of lookupcoverage;  let i=index">
                  <td style="display: none;"></td>
                  <td style="text-align: center;">{{lookupcoverage.numberIndex+i+1}}</td>
                  <td style="width: 100%;">{{ row.coverage_name }}</td>
                  <td class="text-center">
                    <button class="btn btn-outline-default btn-round"
                      (click)="btnSelectRowCoverage(row.code, row.coverage_name, row.currency_code)">Select</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--#endregion lookup coverage-->